"use client";

export default function EmployeeTable(){

return(

<div className="p-8 bg-white rounded-xl shadow">

<h2 className="text-2xl font-bold mb-6">

Employee Table

</h2>

<p>

Table Generator Coming...

</p>

</div>

);

}